<div class="bg">
    <div class="container">
        <div class="row">
        <div class="col-md-12" style="background-color:#fff">
            <button class="btn btn-success btn-sx" style="height:40px; font-size:18px; width:48%">Search Appointment</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-success btn-sx" style="height:40px; font-size:18px; width:48%">Main Website</button>

            <div id="calendar">
                <div style="text-align: center;">
                  <h3 style="color:#0086D0">Appointment Location: Constitution Ave, G-5/1 G-5, Islamabad, Islamabad Capital Territory</h3>
                  <h2> October 2023</h2>
                  <button class="changemonth btn btn-primary btn-sx" style="margin:0 1%" >Prev Month</button>
                  <button class="changemonth btn btn-primary btn-sx" style="margin:0 1%" >Current Month</button>
                  <button class="changemonth btn btn-primary btn-sx" style="margin:0 1%"  >Next  Month</button>
                  <button  routerLink="/slot">
                    Next page
                  </button>
                  </div>
                  <br>
                  <table class="table table-bordered">
                  </table>
            </div>
        </div>
        </div>
    </div>
</div>

