<div class="card-container">
    <div class="header">
        <div class="headercell">
            <img src="./assets/image/mof.png" class="header-image" />
        </div>
    </div>

    <section class="intro-section">
        <div class="row">
            <h1 class="main-heading">WELCOME TO MOF ONLINE APPOINTMENT SYSTEM</h1>
            <div class="col-sm-12">
                <h1 class="instruction-heading">Please Read the Instructions Carefully before booking an appointment:
                </h1>
                <ol class="paragraph">
                    <li class="warning">Book Online Appointment for Ministry Of Foreign Affair, Islamabad</li>
                    <li class="success">Limited number of appointments are offered each day. If you are unable to book
                        an appointment, you can get services through the walk-in token system on a first-come,
                        first-served basis.</li>
                    <li class="success">New Appointment Slots Open every day (Except Weekends and Public Holidays).</li>
                </ol>
                <div class="row row-cols-2">
                    <div class="col">
                        <a routerLink="/form" class="btn btn-success btn-appointment" >Book A New Appointment</a>
                    </div>
                    <div class="col">
                        <a href="https://mofa.gov.pk/ministry" class="btn btn-danger btn-search">Search Your
                            Appointment</a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <section class="priority-section">
        <div class="container">
            <p class="priority-heading">Our foreign policy is one of friendliness and goodwill towards all the nations
                of the world.</p>
        </div>
    </section>
</div>